<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">

  <script src="js/jquery-js"></script>
  <title>{{title}}</title>
</head>

<body>
  <header>
    <header>
    <nav class="navbar navbar-expand-lg bg-dark">
      <a class="navbar-brand" href="/">Caleb Schilling</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects">Projects </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact </a></a>
          </li>
        </ul>

      </div>
    </nav>
  </header>
  </header>
  {{{body}}}

  <footer>

  </footer>
</body>

</html>