
  <main>
    <div class="jumbotron jumbotron-fluid flex-column d-flex justify-content-center align-items-center text-center mb-0"
      id="jumbotron-about">
      <h1 class="display-4">Projects Page</h1>


      <p class="py-3">Here are my most recent projects! Enjoy and if you have any questions contact </p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#section-about" role="button">View Projects</a>
        <a class="btn btn-warning btn-lg" href="contact.html" role="button">Contact Me</a>
      </p>
    </div>

<div class="container py-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-block">
          <img class="img-fluid" src="img/scc.PNG" alt="">
          <div class="card-title">
            <h3 class="pt-2">Sugar Creek Coatings</h3>
          </div>
          <div class="card-title">
            Back in 2019 my cousin needed a website for his painting business to properly showcase his work. I used  HTML, CSS, & Javascript to build this website.
            <br>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-block">
          <img class="img-fluid" src="img/du.PNG" alt="">
          <div class="card-title">
            <h3 class="pt-2">Designs Unlimited</h3>
          </div>
          <div class="card-title">
            Designs Unlimted is a small hair salon in Waterloo, IL that needed help with branding. HTML, CSS, & JavaScript was used for this project.
            <br>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-block">
          <img class="img-fluid" src="img/da.PNG" alt="">
          <div class="card-title">
            <h3 class="pt-2">Digital Alchemy</h3>
          </div>
          <div class="card-title">
         In 2020 I created my web design business and needed a website to help brand and identify with customers. I used HTML, CSS, and JavaScript to build this.
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </main>

  <footer>
    <div class="card text-center">
    
      <div class="card-body py-4 pb-4">
        <h5 class="card-title pb-3">Thanks for Stopping By</h5>
        <a href="#" class="btn btn-warning">Contact Me</a>
        <a href="#" class="btn btn-danger">View Business</a>
        <a href="#" class="btn btn-warning">View Music</a>
      </div>
      <div class="card-footer text-muted mt-3">
        Developed and Designed by Caleb Schilling
      </div>
    </div>
  </footer>