<main>
  <div class="jumbotron jumbtron-fluid flex-column d-flex justify-content-center align-items-center text-center mb-0"
    id="jumbotron-about">
    <h1 class="display-4">Welcome, Viewer!</h1>


    <p class="py-3">Welcome to my portfolio. <br> Here I will guide you through my capabilities and how I can benefit
      your
      company </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#section-about" role="button">Read More</a>
      <a class="btn btn-warning btn-lg" href="/contact" role="button">Contact Me</a>
    </p>
  </div>


  <div class="container-fluid d-flex text-center px-5" id="section-about">
    <div class="row justify-content-center align-items-center my-auto py-5">
      <div class="col-md-6">
        <img class="img-fluid round" src="img/caleb.jpg" height="300" width="300" alt="">
      </div>

      <div class="col-md-6">
        <h2 class="pt-2">About <i class="fas fa-user-check"></i> </h2>
        <p>Hi i'm Caleb Schilling! I tap keys for a living - let me explain. At Ranken College, i tap keys on a
          computer building ideas using software. From a landing page for your business, marketing software, or a
          digital tool making your business efficient - I can do it. At home, I tap keys on my piano to make music.
          From hip-hop, r&b, or alternative. I create anything that sounds good to my ear. </p>
      </div>
    </div>
  </div>


  <div class="container-fluid text-center text-white px-5 pb-3" id="section-learn">
    <h3 class=" display-4 text-center pt-5 pb-2"><i class="fas fa-hand-holding-usd"></i> <br>Adding An Asset </h3>
    <div class="row justify-content-center align-items-center my-auto py-5">
      <div class="col-md-4 ">
        <h2 class="pb-3">Business Mindset </h2>
        <p>With a business mindset and the problem solving skills developed from studying programming, your company
          would be gaining an asset. My intention is for your business to see an ROI when you hire me.</p>
      </div>
      <div class="col-md-4">
        <h2 class="pb-3">Communication</h2>
        <p>Without communication there's no rapport, trust, and lastly no sale. Sales and the art of communication have been my most recent mountain to climb and conquer. Help me help you grow your business.</p>
      </div>
      <div class="col-md-4">
        <h2 class="pb-3">Creative</h2>
        <p>Dabbling in music always helped me turn ideas in my head into a reality. My outlet has been creating music, software, or writing. If you don't support a creative enviornment I will not work with you.  </p>
      </div>
    </div>
  </div>
</main>

<footer>
  <div class="card text-center">

    <div class="card-body py-4 pb-4">
      <h5 class="card-title pb-3">Thanks for Stopping By</h5>
      <a href="/contact" class="btn btn-warning">Contact Me</a>
      <a href="www.digitalalechmy.tech" class="btn btn-danger">View Business</a>
      <a href="wwww.majellamusic.digitalalchemy.tech" class="btn btn-warning">View Music</a>
    </div>
    <div class="card-footer text-muted mt-3">
      Developed and Designed by Caleb Schilling
    </div>
  </div>
</footer>